@import "reset";
@import "variables/global";
@import "variables/screenWidths.module";
@import "mixins";

.app {
  color: var(--primary-color);
  font: var(--font-m);
  font-family: var(--font-family_main);
  background: var(--bg-color);
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
