@import "variables/screenWidths.module";

@mixin manrope-header($size, $weight, $lineHeight: 125%) {
  font-family: var(--font-family_main);
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin section($flexDir) {
  width: 100%;
  display: flex;
  flex-direction: $flexDir;
}

@mixin step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@mixin tablet-1100 {
  @media (max-width: $max-tablet-width) {
    @content;
  }
}

@mixin tablet-1000 {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile-750 {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin mobile-500 {
  @media (max-width: $mini-mobile-width) {
    @content;
  }
}
