:root {
  // Fonts
  --font-family_main: Manrope, sans-serif;
  --font-family_secondary: inter, sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family_main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family_main);

  // Colors
  --bg-color: #fffefd;
  --primary-color: #0232c2;
  --secondary-color: #0452ff;
  --ui-primary-color: #ffffff;
  --ui-secondary-color: #2b5fc7;
  --ui-disabled-color: #828091;
  --ui-primary-bg-color: #003fbc;
  --ui-secondary-bg-color: #fffefd;
  --ui-disabled-bg-color: #d0cfd5;
  --text-gray-color: #807c7c;

  --label-color: #817676;

  // добавила новые цвета(Юля)
  --blue-background-color: #cbe5e4;
  --light-text-color: #6f89a4;

  // BorderRadii
  --extra-narrow-radius: 8px;
  --narrow-radius: 10px;
  --common-radius: 12px;
  --wide-radius: 16px;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  src:
    url("/src/assets/fonts/Manrope-VariableFont_wght.ttf")
      format("truetype-variations"),
    url("src/assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  src:
    url("/src/assets/fonts/Inter-VariableFont_slnt,wght.ttf")
      format("truetype-variations"),
    url("/src/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
