.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
}

.cardList {
  min-width: 500px;
  max-width: 734px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.description {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: var(--font-weight-500);
}
