@import "../../../../app/styles/mixins";

.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
}

.cardList {
  min-width: 360px;
  max-width: 734px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 30px;
}

.description {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: var(--font-weight-500);
}

@include mobile-750 {
  .description {
    display: none;
  }
}
