@import "../../../../app/styles/mixins";

.step {
  @include step;
}

.title {
  @include step-title;
}

.span {
  color: var(--span-color);
}

.subtitle {
  @include step-subtitle;

  margin-bottom: 48px;

  @include mobile-750 {
    margin-bottom: 16px;
  }
}

.buttonContainer {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;

  @include mobile-750 {
    margin-bottom: 16px;
  }
}

.input {
  max-width: 240px;
  margin-bottom: 44px;

  @include mobile-750 {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.button {
  @include mobile-750 {
    width: 100%;
  }
}
