.panel {
  height: 108px;
  width: 240px;
  display: flex;
  padding: 4px;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--common-radius);
}
