@import "../../app/styles/mixins";

.quiz {
  @include section(column);

  align-items: center;
  width: 100%;
  padding: 151px 160px 208px;
}

.quizContainer {
  @include section(column);

  align-items: center;
  width: 100%;
  max-width: 1120px;
  background-image: url("../../assets/images/main-quiz-background.png");
  background-repeat: no-repeat;
  background-size: 1100px 281px;
  background-position: bottom 35px center;
}

.title {
  @include manrope-header(48px, 700, 140%);

  letter-spacing: 0.2px;
  color: var(--text-black-color);
  padding-bottom: 51px;
  text-align: center;
}

.description {
  @include manrope-header(24px, 400, 140%);

  letter-spacing: 0.2px;
  color: var(--light-text-color);
  padding-bottom: 70px;
  max-width: 736px;
  text-align: center;
}
