:export {
  tabletWidth: 1000px;
  mobileWidth: 750px;
  maxTabletWidth: 1100px;
  miniMobileWidth: 500px;
}

.quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 151px 160px 208px;
  margin-top: 110px;
}
@media (max-width: 1100px) {
  .quiz {
    padding: 109px 50px 168px;
    margin-top: 80px;
  }
}
@media (max-width: 750px) {
  .quiz {
    background-image: url("../../assets/images/quiz-mobile-up.svg"),
      url("../../assets/images/quiz-mobile-bottom.svg");
    background-position:
      top right 20px,
      bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 40%;
    padding: 148px 50px 160px;
    margin-bottom: 165px;
  }
}
@media (max-width: 500px) {
  .quiz {
    padding: 148px 20px 160px;
    margin-top: 100px;
    margin-bottom: 165px;
    background-size: 65%, 50%;
  }
}

.quizContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1120px;
  background-image: url("../../assets/images/main-quiz-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 35px center;
}
@media (max-width: 750px) {
  .quizContainer {
    background-image: none;
  }
}

.title {
  font-family: var(--font-family_main);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--text-black-color);
  padding-bottom: 51px;
  text-align: center;
}
@media (max-width: 1100px) {
  .title {
    max-width: 445px;
    font-family: var(--font-family_main);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
}
@media (max-width: 500px) {
  .title {
    text-align: start;
  }
}

.description {
  font-family: var(--font-family_main);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--light-text-color);
  padding-bottom: 70px;
  max-width: 736px;
  text-align: center;
}
@media (max-width: 1100px) {
  .description {
    max-width: 445px;
    font-family: var(--font-family_main);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .description {
    text-align: start;
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .button {
    width: 100%;
  }
}
