.navigate {
  padding-top: 100px;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.findCount {
  display: none;
}

.visible {
  display: block;
}

@media screen and (width <=780px) {
  .navigate {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    order: 3;
  }

  .nav_list {
    justify-content: center;
  }

  .nav_list div {
    height: 32px;
  }

  .visible {
    display: none;
  }

  .findCount {
    display: block;
  }
}
