.panel {
  height: 48px;
  max-width: 412px;
  display: flex;
  padding: 2px 3px;
  background-color: var(--lightblue-background-color);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--common-radius);
}
