:export {
  tabletWidth: 1000px;
  mobileWidth: 750px;
  maxTabletWidth: 1100px;
  miniMobileWidth: 500px;
}

.quizNav {
  max-width: 1204px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
@media (max-width: 1000px) {
  .quizNav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 750px) {
  .quizNav {
    padding: 108px 50px 32px;
  }
}
@media (max-width: 500px) {
  .quizNav {
    padding: 108px 20px 50px;
  }
}

.navBar {
  max-width: 632px;
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .navBar {
    max-width: 604px;
  }
}
@media (max-width: 1000px) {
  .navBar {
    align-self: center;
    padding-top: 72px;
  }
}
@media (max-width: 750px) {
  .navBar {
    max-width: 335px;
    padding-top: 47px;
  }
}

.navItem {
  color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  width: 26px;
  height: 26px;
  border: 1px solid rgba(33, 29, 59, 0.18);
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .navItem {
    min-width: 23px;
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 750px) {
  .navItem {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  .navItem p {
    display: none;
  }
}

.navItemUnlock {
  color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  width: 26px;
  height: 26px;
  border: 1px solid rgba(33, 29, 59, 0.18);
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  background-color: var(--ui-primary-bg-color);
}
@media (max-width: 1100px) {
  .navItemUnlock {
    min-width: 23px;
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 750px) {
  .navItemUnlock {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  .navItemUnlock p {
    display: none;
  }
}

.resultItem {
  color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  width: 26px;
  height: 26px;
  border: 1px solid rgba(33, 29, 59, 0.18);
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .resultItem {
    min-width: 23px;
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 750px) {
  .resultItem {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  .resultItem p {
    display: none;
  }
}

.resultItemUnlock {
  color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  width: 26px;
  height: 26px;
  border: 1px solid rgba(33, 29, 59, 0.18);
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--primary-color);
  background-image: url("../../../assets/images/icons/trophy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
@media (max-width: 1100px) {
  .resultItemUnlock {
    min-width: 23px;
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 750px) {
  .resultItemUnlock {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  .resultItemUnlock p {
    display: none;
  }
}
@media (max-width: 750px) {
  .resultItemUnlock {
    background-size: 12px;
  }
}

.navLine {
  width: 11%;
  height: 1px;
  border: none;
  border-bottom: 1px solid rgba(33, 29, 59, 0.18);
  box-sizing: border-box;
  color: var(--ui-primary-bg-color);
}
@media (max-width: 1100px) {
  .navLine {
    width: 9%;
  }
}
@media (max-width: 750px) {
  .navLine {
    width: 30px;
  }
}

.navLineUnlock {
  border-bottom: 1px solid var(--ui-primary-bg-color);
}

.closeButton {
  margin: 4px;
  border: none;
  background-color: transparent;
  background-image: url("../../../assets/images/icons/SearchClose.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .closeButton {
    position: absolute;
    right: 0;
    top: 32px;
  }
}
@media (max-width: 750px) {
  .closeButton {
    top: 108px;
    right: 50px;
  }
}
@media (max-width: 500px) {
  .closeButton {
    right: 20px;
    width: 32px;
    height: 32px;
  }
}

.arrowButton {
  width: 36px;
  height: 36px;
}

.resultTitle {
  font-family: var(--font-family_main);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgba(33, 29, 59, 0.42);
}
@media (max-width: 1100px) {
  .resultTitle {
    display: none;
  }
}
