@import "../../../../app/styles/mixins";

.profile {
  max-width: 1120px;
  width: 100%;
  padding: 69px 50px 130px;

  @include mobile-750 {
    padding: 69px 20px 13px;
  }
}

.title {
  font-size: var(--font-size-heading-h3);
  line-height: var(--font-line-heading-h3);
  font-weight: var(--font-weight-600);
  color: var(--text-black-color);
  margin-bottom: 36px;
}

.formContainer {
  max-width: 736px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.optionsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100%;
}

.options {
  font-size: var(--font-size-heading-h4);
  line-height: var(--font-line-heading-h4);
  font-weight: var(--font-weight-600);
  color: var(--text-black-color);
}

.editButton {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.edit {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: var(--font-weight-400);
  color: var(--text-black-color);
}

.deleteButton {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #f21515;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-bottom: 20px;

  @include mobile-750 {
    width: 100%;
  }
}

.logoutButton {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: var(--light-text-color);
  border: none;
  background: transparent;
  cursor: pointer;

  @include mobile-750 {
    width: 100%;
  }
}

.titleModal {
  font-size: var(--font-size-heading-h3);
  line-height: var(--font-line-heading-h3);
  font-weight: var(--font-weight-600);
  color: var(--text-black-color);
  text-align: center;

  @include mobile-750 {
    font-size: var(--font-size-heading-h4);
    line-height: var(--font-line-heading-h4);
    text-align: left;
    padding-bottom: 24px;
  }
}

.span {
  color: var(--span-color);
}

.warning {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: var(--font-weight-500);
  color: var(--light-text-color);
  text-align: center;

  @include mobile-750 {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    text-align: left;
    padding-bottom: 30px;
  }
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include mobile-750 {
    grid-template-columns: 1fr;
  }
}
