@import "../../../../app/styles/mixins";

.sections {
  max-width: 1120px;
  margin: 0 auto;
  padding: 68px 50px 221px;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 32px;
}

.title {
  @include manrope-header(32px, 600, 125%);

  color: var(--text-black-color);
  margin-bottom: 32px;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.buttonTrash {
  grid-column: 3;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  column-gap: 50px;
  margin-bottom: 40px;
}

.table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  text-align: left;
  color: var(--light-black-color);
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgb(19 28 78 / 13%);
}

.table td {
  border-bottom: solid 1px rgb(203 229 228 / 50%);
  border-collapse: collapse;
}

.addressCol {
  width: 45%;
}

.checkCol {
  width: 4%;
}

.priceCol {
  width: 8%;
}

.tableCheckbox {
  display: block;
  margin: 0 auto;
}

.tableHeading {
  @include manrope-header(20px, 600, 140%);

  background-color: #f5f5f5;
  height: 40px;
}

.tableRow {
  height: 80px;

  @include manrope-header(18px, 400, 155%);

  color: #333;

  &:hover {
    cursor: pointer;
    background-color: rgb(203 229 228 / 50%);

    @include manrope-header(18px, 600, 155%);
  }
}

.activeRow {
  background-color: rgb(203 229 228 / 50%);

  @include manrope-header(18px, 600, 155%);
}

.sectionList {
  list-style: none;
  padding-top: 28px;
  padding-bottom: 28px;
}

@include tablet-1000 {
  .sections {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include mobile-750 {
  .sections {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sectionList {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }

  .buttonContainer {
    column-gap: 8px;
    margin-bottom: 20px;
  }

  .button {
    opacity: 0.4;
  }

  .sectionCard {
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgb(19 28 78 / 13%);
    padding: 24px 8px;
    row-gap: 16px;
  }

  .title {
    @include manrope-header(20px, 600, 140%);

    margin-bottom: 0;
  }

  .sectionTitle {
    @include manrope-header(20px, 600, 140%);

    color: var(--text-black-color);
    margin-bottom: 8px;
  }

  .address {
    @include manrope-header(18px, 500, 155%);

    color: var(--light-text-color);
    margin-bottom: 12px;
  }

  .price {
    @include manrope-header(20px, 600, 140%);

    color: var(--text-black-color);

    &::after {
      content: "₽ за занятие";
    }
  }

  .schedule {
    @include manrope-header(16px, 400, 150%);

    color: var(--ui-secondary-color);
    margin-bottom: 16px;
  }
}
