.container {
  background-image: url("../../../assets/images/main-quiz-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 20px center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
}

.question {
  font-family: var(--font-family_main);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  width: 55%;
  text-align: center;
  max-width: 735px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.options {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 24px;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.optionLabel {
  box-sizing: border-box;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #003fbc;
  width: 24px;
  height: 24px;
}

.optionInput {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.optionSelected {
  position: absolute;
  top: 2px;
  left: 2px;
  background: transparent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.optionInput:checked ~ .optionSelected {
  background-color: #ff7a60;
}

.optionName {
  font-family: var(--font-family_main);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  max-width: 220px;
}

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
}
