.modalContainer {
  max-width: 524px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
