.cardList {
  min-width: 500px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreCount {
  color: var(--ui-primary-bg-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-600);
}

.description {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: var(--font-weight-500);
}

.options {
  display: flex;
  column-gap: 20px;
}
