//SIZES
.small {
  width: 20px;
  height: 20px;
}

.normal {
  width: 24px;
  height: 24px;
}

//COLORS

.primary * {
  fill: #ffffff;
  color: #ffffff;
}

.secondary * {
  fill: #2b5fc7;
  color: #2b5fc7;
}

.pale * {
  fill: #828091;
  color: #828091;
}
