.titleContainer {
  border-radius: var(--common-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: fit-content;
}

.headingTitle {
  color: var(--light-text-color);
  font-family: var(--font-family_main);
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: 1.35;
}

.white {
  background-color: var(--ui-primary-color);
}

.blue {
  background-color: var(--blue-background-color);
}
