@import "../../app/styles/mixins";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 10px 25px 0 rgb(19 28 78 / 13%);
  z-index: 999;
  opacity: 0;
  animation: rising 0.5s forwards;
  padding: 40px;
  flex-direction: column;
  row-gap: 30px;
  max-width: 516px;
}

.title {
  @include manrope-header(32px, 600, 125%);

  color: var(--text-black-color);
  text-align: center;
}

.description {
  @include manrope-header(18px, 500, 155%);

  color: var(--light-text-color);
  text-align: center;
}

.closeBtn {
  align-self: end;
}

.highlighting {
  @include manrope-header(32px, 600, 125%);

  color: var(--span-color);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  column-gap: 20px;
}

.oneButton {
  flex-direction: column;
}

@include mobile-750 {
  .modal {
    min-width: 375px;
    row-gap: 24px;
  }

  .buttonContainer {
    flex-direction: column;
    row-gap: 20px;
  }

  .title {
    @include manrope-header(24px, 600, 135%);
  }

  .highlighting {
    @include manrope-header(24px, 600, 135%);
  }

  .description {
    @include manrope-header(16px, 500, 150%);
  }
}

@include mobile-500 {
  .modal {
    min-width: 320px;
    row-gap: 10px;
  }

  .title {
    text-align: left;
  }

  .highlighting {
    @include manrope-header(24px, 600, 135%);
  }

  .description {
    text-align: left;
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
