@import "../../../../app/styles/mixins";

.navigate {
  width: 100%;
  max-width: 1376px;
}

.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
}

.button {
  display: none;
}

@include mobile-750 {
  .navigate {
    order: 1;
    padding-top: 40px;
  }

  .nav_list {
    justify-content: space-between;
  }

  .button {
    @include manrope-header(14px, 500, 140%);

    color: #211d3b6b;
    display: block;
    border: none;
    cursor: pointer;
    background: transparent;
  }
}
