.result {
  margin: 0 auto;
  width: 100%;
  max-width: 1181px;
  font-family: var(--font-family_main);
  color: var(--text-black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.resultContainer {
  display: flex;
  column-gap: 33px;
  margin-top: 26px;
}

.title {
  font-size: var(--font-size-heading-h3);
  line-height: var(--font-line-heading-h3);
  font-family: var(--font-family_main);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.description {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: var(--font-weight-500);
}

.footer {
  background-color: var(--text-black-color);
  width: 100%;
  min-height: 170px;
  margin-top: 70px;
}
