@import "../../../../app/styles/mixins";

.buttonContainer {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.filters {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  box-shadow: 1px 0 0 var(--lightblue-background-color);
  padding-right: 29px;
  max-width: 350px;
}

.filter_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle {
  @include manrope-header(24px, 600, 135%);
}

.description {
  @include manrope-header(18px, 600, 155%);
}

.description_distant {
  padding-bottom: 24px;
}

.numberInput {
  max-width: 156px;
}

.clearFiltersBtn {
  display: none;
}

.genderContainer {
  display: flex;
  column-gap: 24px;
}

.genderContainer button {
  width: 100px;
  height: 100px;
}

.distanceChoose {
  height: min-content;
  justify-content: center;
}

.weekdaysContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 245px;
}

@include tablet-1000 {
  .distanceChoose {
    width: 225px;
    flex-wrap: wrap;
    align-items: center;
  }

  .distanceChoose button:last-child {
    width: 100%;
  }
}

@include mobile-750 {
  .filters {
    padding: 40px 20px;
    background-color: var(--ui-secondary-bg-color);
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    width: 100vw;
    height: 100vh;
    max-width: 375px;
    overflow-y: scroll;
  }

  .filtersOpen {
    z-index: 2;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  }

  .weekdaysContainer {
    max-width: 335px;
  }

  .genderContainer button {
    width: 140px;
  }

  .distanceChoose {
    width: 324px;
    flex-wrap: nowrap;
  }

  .distanceChoose button:last-child {
    width: 109px;
  }

  .description {
    @include manrope-header(20px, 600, 140%);
  }

  .subtitle {
    display: block;
  }

  .subtitle::after {
    content: ":";
  }

  .buttonContainer {
    align-items: normal;
  }

  .buttonContainer > button:last-child {
    display: none;
  }
}
