.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 54px;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
