@import "../../app/styles/mixins";

.reasons {
  @include section(column);

  background-color: var(--blue-background-color);
  padding: 68px 165px 116px;
  align-items: center;
}

.sectionContainer {
  max-width: 1120px;
  width: 100%;

  @include section(column);

  align-items: center;
}

.title {
  @include manrope-header(44px, 700, 100%);

  color: var(--text-black-color);
  letter-spacing: 0.2px;
  padding-top: 24px;
}

.container {
  width: 100%;

  @include section(row);

  padding-top: 60px;
  gap: 35px;
  justify-content: space-between;
}
