@import "../../app/styles/mixins";

.reasons {
  @include section(column);

  background-color: var(--blue-background-color);
  padding-top: 68px;
  padding-bottom: 116px;
  align-items: center;

  @include tablet-1100 {
    padding: 40px 50px;
  }

  @include mobile-500 {
    padding: 40px 20px;
  }
}

.sectionContainer {
  max-width: 1120px;
  width: 100%;

  @include section(column);

  align-items: center;

  @include tablet-1100 {
    align-items: start;
  }
}

.title {
  @include manrope-header(44px, 700, 100%);

  color: var(--text-black-color);
  letter-spacing: 0.2px;
  padding-top: 24px;

  @include tablet-1100 {
    @include manrope-header(32px, 700, 100%);

    text-align: start;
  }
}

.container {
  max-width: 100%;

  @include section(row);

  padding-top: 60px;
  gap: 35px;
  justify-content: space-between;

  @include tablet-1100 {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    gap: 25px;
  }

  @include mobile-750 {
    display: flex;
    flex-flow: column nowrap;
    transition: transform 0.5s ease;
    align-items: center;
  }
}

// .dots {
//   text-align: center;
//   margin-top: 24px;
// }

// .dot {
//   display: inline-block;
//   width: 12px;
//   height: 12px;
//   border-radius: 50%;
//   background-color: var(--ui-disabled-color);
//   margin: 0 12px;
//   cursor: pointer;
// }
