.input {
  width: 100%;
  max-width: 442px;
}

.inputWrapper {
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/images/icons/MagnifyingGlass.png");
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.autocompleteField {
  position: absolute;
  left: 0;
  top: 49px;
  width: 100%;
  list-style: none;
  background: var(--bg-color);
  border-radius: var(--extra-narrow-radius);
  box-shadow: 0 10px 25px 0 rgb(19 28 78 / 13%);
  display: flex;
  flex-direction: column;
  max-height: 248px;
  z-index: 100;
  height: auto;
  overflow: auto;
}

.autocompleteItem {
  font: var(--font-m);
  color: #211d3b;
  padding: 16px 8px 8px;
  cursor: pointer;

  &:hover {
    background: #e5ecf8;
    color: #003fbc;
    transition: background-color 0.2s ease;
  }
}
