@import "../../../../app/styles/mixins";

.options {
  margin: 0 auto;
  width: 100%;
  max-width: 1181px;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.hide {
  display: none;
}

@include mobile-750 {
  .options {
    order: 2;
    padding-top: 28px;
    margin-bottom: 30px;
  }
}
