@import "../../app/styles/mixins";

.about {
  width: 100%;

  @include section(row);

  justify-content: center;
  padding-top: 85px;
  padding-bottom: 85px;

  @include tablet-1100 {
    padding: 40px 50px;
  }

  @include mobile-500 {
    padding: 40px 20px;
  }
}

.sectionContainer {
  @include section(row);

  justify-content: space-between;
  width: 100%;
  max-width: 1118px;
  gap: 32px;

  @include tablet-1100 {
    align-items: center;
    max-width: fit-content;
  }

  @include mobile-750 {
    flex-direction: column-reverse;
    gap: 22px;
  }
}

.leftPart {
  @include section(column);

  @include mobile-750 {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile-500 {
    padding: 0;
  }
}

.title {
  @include manrope-header(52px, 700);

  color: var(--light-black-color);
  max-width: 615px;
  padding-bottom: 22px;

  @include tablet-1100 {
    @include manrope-header(42px, 700);

    padding-bottom: 32px;
  }

  @include mobile-750 {
    @include manrope-header(32px, 700);

    text-align: center;
    max-width: 100%;
  }

  @include mobile-500 {
    padding-top: 31px;
    text-align: start;
  }
}

.description {
  @include manrope-header(18px, 500, 155%);

  color: var(--light-text-color);
  padding-bottom: 87px;
  max-width: 500px;

  @include tablet-1100 {
    padding-bottom: 20px;
  }

  @include mobile-750 {
    @include manrope-header(18px, 500, 155%);

    text-align: center;
    max-width: 100%;
  }

  @include mobile-500 {
    text-align: start;
    padding-bottom: 30px;
  }
}

.actionContainer {
  @include section(row);

  align-items: center;
  gap: 31px;

  @include tablet-1100 {
    flex-direction: column;
    align-items: start;
    margin-top: auto;
  }

  @include mobile-750 {
    align-items: center;
  }
}

.button {
  min-width: 257px;

  @include tablet-1100 {
    width: 80%;
  }

  @include mobile-500 {
    width: 100%;
  }
}

.registrationLink {
  cursor: pointer;

  @include manrope-header(18px, 800, 177%);

  letter-spacing: 0.2px;
}
