@import "../../../app/styles/mixins";

.header {
  width: 100%;
  background-color: var(--blue-background-color);

  @include section(row);

  justify-content: center;
  padding: 26px 0;
}

.container {
  @include section(row);

  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.button {
  background: #ff7a60 !important;
  width: 159px;
}

.favouritesBtn {
  position: relative;
  background-image: url("../../../assets/images/icons/result-heart.svg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 36px;
  height: 34px;
}

.favouritesCount {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -10px;
  top: -10px;
  border-radius: 12px;
  background-color: #f00;
  color: #fff;
  font-size: var(--font-size-l);
}

.buttonContainer {
  display: flex;
  column-gap: 48px;
  align-items: center;
}

.profileButton {
  display: none;
}

.hiddenText {
  display: none;
}

@media screen and (width <= 1290px) {
  .header {
    padding: 14px 16px;
  }
}

@media screen and (width <= 632px) {
  .container {
    @include section(row);

    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .button {
    display: none;
  }

  .profileButton {
    display: block;
    position: relative;
    background-image: url("../../../assets/images/profile-menu-icon.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: 36px;
    height: 36px;
  }
}

@media screen and (width <= 500px) {
  .buttonContainer {
    column-gap: 25px;
  }
}
