@import "../../../app/styles/mixins";

.header {
  width: 100%;
  background-color: var(--blue-background-color);

  @include section(row);

  justify-content: center;
  padding: 26px 0;
}

.container {
  @include section(row);

  justify-content: space-between;
  width: calc(100% - 320px);
  max-width: 1120px;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.button {
  background: #ff7a60 !important;
  width: 159px;
}
