@import "../../../app/styles/mixins";

.header {
  width: 100%;
  background-color: var(--blue-background-color);

  @include section(row);

  justify-content: center;
  padding: 26px 0;
}

.container {
  @include section(row);

  justify-content: space-between;
  width: calc(100% - 320px);
  max-width: 1120px;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.button {
  background: #ff7a60 !important;
  width: 159px;
}

.favouritesBtn {
  position: relative;
  background-image: url("../../../assets/images/icons/result-heart.svg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 36px;
  height: 34px;
  cursor: pointer;
}

.favouritesCount {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -10px;
  top: -10px;
  border-radius: 12px;
  background-color: #f00;
  color: #fff;
  font-size: var(--font-size-l);
}

.buttonContainer {
  display: flex;
  column-gap: 48px;
  align-items: center;
}
