@import "../../../../app/styles/mixins";

.navigate {
  width: 100%;
  max-width: 1376px;
  padding-left: 32px;
  padding-right: 32px;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.mobileItem {
  display: none;
}

.title {
  @include manrope-header(20px, 600, 140%);

  color: var(--text-black-color);
}

@include mobile-750 {
  .mobileItem {
    display: block;
  }

  .desctopItem {
    display: none;
  }
}
