.image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: var(--narrow-radius);
}

.slider-header-image {
  max-width: 533px;
  aspect-ratio: 34/9;
  max-height: 145px;
}

.search-page-image {
  max-width: 460px;
  aspect-ratio: 2;
  max-height: 232px;
}

.slider-image {
  max-width: 540px;
  aspect-ratio: 16/11;
  max-height: 434px;
}

.reason-image {
  max-width: 445px;
  aspect-ratio: 16/17;
  height: 463px;
}

@media screen and (width <= 1200px) {
  .reason-image {
    max-width: 400px;
    aspect-ratio: 16/17;
    height: 416px;
  }
}

@media screen and (width <= 885px) {
  .reason-image {
    max-width: 350px;
    aspect-ratio: 16/17;
    height: 376px;
  }
}

.main-image {
  max-width: 445px;
  aspect-ratio: 16/19;
  max-height: 527px;
}

@media screen and (width <= 1340px) {
  .main-image {
    max-width: 400px;
    max-height: 430px;
  }
}

@media screen and (width <= 997px) {
  .main-image {
    max-width: 300px;
    max-height: 330px;
  }
}

.why-we-image {
  max-width: 350px;
  aspect-ratio: 16/11;
  height: 240px;
}

.no-result-image {
  max-width: 335px;
  aspect-ratio: 1;
  height: 335px;
}

.logo-image {
  max-width: 170px;
  aspect-ratio: 3;
  height: 40px;
}

.auth-logo-image {
  max-width: 263px;
  max-height: 90px;
  aspect-ratio: 3;
}

.auth-image {
  max-width: 254px;
  max-height: 264px;
  width: auto;
  height: auto;
}

.auth-mobile-image {
  max-width: 375px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.imageSize {
  width: 100%;
  height: 100%;
}
