.image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: var(--narrow-radius);
}

.slider-header-image {
  max-width: 533px;
  aspect-ratio: 34/9;
  max-height: 145px;
}

.search-page-image {
  max-width: 460px;
  aspect-ratio: 2;
  max-height: 232px;
}

.slider-image {
  max-width: 540px;
  aspect-ratio: 16/11;
  max-height: 434px;
}

.reason-image {
  max-width: 445px;
  aspect-ratio: 16/17;
  height: 463px;
}

.main-image {
  max-width: 445px;
  aspect-ratio: 16/19;
  height: 527px;
}

.why-we-image {
  max-width: 350px;
  aspect-ratio: 16/11;
  height: 240px;
}

.no-result-image {
  max-width: 335px;
  aspect-ratio: 1;
  height: 335px;
}

.imageSize {
  width: 100%;
  height: 100%;
}
