@import "../../app/styles/mixins";

.cooperation {
  @include section(column);

  min-height: 875px;
  align-items: center;
}

.sectionContainer {
  box-sizing: border-box;
  padding: 68px 160px 0;
  max-width: 1440px;
  width: 100%;
}

.twoColumns {
  @include section(row);

  align-items: center;
  gap: 30px;
}

.rightColumn {
  display: contents;
}

.headerQuestion {
  padding-top: 28px;
  color: var(--text-black-color);

  @include manrope-header(44px, 700);
}

.description {
  padding-top: 20px;
  padding-bottom: 60px;
  max-width: 465px;
  color: #6f89a4;
  font-family: var(--font-family_main);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}

.image {
  margin-top: 108px;
}

@media screen and (width <= 1100px) {
  .sectionContainer {
    padding: 40px 50px;
  }

  .headerQuestion {
    @include manrope-header(32px, 700);
  }
}

@media screen and (width <= 750px) {
  .twoColumns {
    @include section(column);

    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .leftColumn {
    align-items: center;
    justify-content: center;
  }

  .rightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    margin-top: 50px;
  }
}

@media screen and (width <= 500px) {
  .sectionContainer {
    padding: 70px 30px;
  }
}
