.slider {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
}

.containerSlider {
  width: 1440px;
  height: 538px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 62px;
}

.containerSwipe {
  display: flex;
  align-items: flex-end;
}

.containerText {
  display: flex;
  justify-content: first baseline;
  width: 660px;
  flex-direction: column;
  gap: 32px;
  margin-right: 101px;
  
}

.titleSlider {
  font-family: var(--font-family_main);
  font-size: 64px;
  line-height: 87.42px;
  font-weight: bold;
  color: var(--text-black-color);
  text-align: start;
  letter-spacing: 0.2px;
  text-align: start;
}

.kindOfSport {
  font-weight: bold; 
  font-size: 64px;
  line-height: 87.42px;
  font-family: var(--font-family_main);
  color: var(--text-black-color);
  text-align: start;
  letter-spacing: 0.2px;
}

.textSlider {
  width: 541px;
  color: #6F89A4;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.9px;

}

.buttonRight {
    background-image: url("../../assets/images/icons/button_right.svg");
    margin-right: 28px;
  }

.buttonLeft {
    background-image: url("../../assets/images/icons/button_left.svg");
    margin-right: 64px;
  }

  .buttonRight, .buttonLeft {
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    
  }

  .hidden {
    visibility: hidden;
}

.img {
    width: 174px;
    height: 165px;
    object-fit: cover;
    border-radius: var(--common-radius);
  }

  .containerButton {
    width: 1070px;
    display: flex;
    justify-content: space-between;
  }

  .numberSlider {
    font-size: 24px;
    font-family: var(--font-family_main);
  }
  
  .leadingNumbers {
    font-size: 32px;
    font-family: var(--font-family_main);
  }


